<template>
  <div id="tooltipcontainer">
    <gl-button id="ref2">Testbutton</gl-button>
    <gl-tooltip
      target="ref2"
      container="tooltipcontainer"
    >
      some 
      <em>tooltip</em>
      text
    </gl-tooltip>
  </div>
</template>
